.idea
.ipynb_checkpoints/
01_Data/Web_scraping/posters/
05_Unsupervised_Learning/Clustering/text8.zip
05_Unsupervised_Learning/Clustering/tensorflow_tests/text8.zip
05_Unsupervised_Learning/Clustering/tensorflow_tests/data/text8.zip
04_Supervised_Learning/CNN_Text_Classification/runs/*